<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishDir>$(MSBuildThisFileDirectory)..\..\..\artifacts\publish\win-x86\</PublishDir>
  </PropertyGroup>
</Project>
